


.row.pl-2 {
    background-color: #eeeeee;
    border-radius: 10px;
}
.bi-search {
    margin-right: 20px;
}
.carousel-item {
     background-color: white !important;
}
img.profile {
    width: 100px;
    border-radius: 100px;
    margin-top: 10px;
}

img.update {
    width: 100px;
    border-radius: 100px;
    margin-top: 1px;
}

.nav-links {
    font-family: 'Poppins';
}

.nav li a.active {
    font-family: 'Poppins';
}
.nav-item:hover{
    background-color: #512e8d;
    border-radius: 15px;
  
}
.btn:hover{
    background-color: #512e8d !important;
}
.signup-select:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 3px;
}
.col-md-10.name-input.placholder {
    margin-left: -12px;
}
select#signup-sector {
    height: 50px;
    width: 747px;
    margin-top: 25px;
    border-radius: 10px;
    border: none;
}

select#profileupdate-sector {
    height: 50px;
    width: 747px;
    /* margin-top: 10px; */
    border-radius: 10px;
    border: none;
}
.col-md-2.profile-image {
    margin-left: -20px;
}

img.labour {
    width: 50px;
}
.color-text{
     color: #673AB7;
}
.card-body.categories {
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}
.col-md-4.banner1 {
    border: 1px solid #eeeeee ;
    border-radius: 10px;
    margin-top: 98px;
   float: right;

}
.col-md-6.banner {
    border: 1px solid #eeeeee ;
    border-radius: 10px;
    width: 115px;
    margin-top: 64px;
    margin-left: 14rem;
    
}
a.btn.plum.tab-btn2.col-md-1 {
    height: 55px;
    width: 90px;
    margin-left: 4px;
}
.col-md-6.find {
    width: 555px;
}

.row.\.redio-buttons-image{
    position: relative;
    left: -45px
}
.form-check.form-check-inline.pl-5 {
    position: relative;
    left: 60px;
}
.btn-light {
    width: 140px;
}
svg.svg-inline--fa.fa-facebook {
    height: 30px;
    color: black;
}
svg.svg-inline--fa.fa-linkedin {
    height: 30px;
    color: black;
}
svg.svg-inline--fa.fa-google-plus {
    height: 30px;
    color: black;
}
.card-img {
    width: 110px;
}

.card {
    border: none !important;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
}

.service-section {
    margin-top: -150px;
}

.workers {
    background-color: #ffffff;
    
}

.worker-text h5 {
    font-size: 50px;
}

.worker-text {
    margin-top: 50px;
}

.worker-text p {
    font-size: 24px;
    margin-top: 30px;
    color: #1E1E1E!important;
}

.carousel-btn-left {
    border-radius: 100px;
    margin-top: 30px;
    float:right;
}

.carousel-btn-right {
    border-radius: 100px;
    margin-top: 30px;
}

.carousel-btn-left:hover {
    background-color: #673AB7;
    border-radius: 100px;
}

.carousel-btn-right:hover {
    background-color: #673AB7;
    border-radius: 100px;
}

.carousel-btn-left:hover {
    color: #fff;
}

.carousel-btn-right:hover {
    color: #fff;
}

.carousel-card {
    border: 1px solid #673AB7;
    border-radius: 20px;
    height: 190px !important;
    width: 96%;
    
}
.container.mx-auto {
    max-width: 1110px !important;
}
.carousel-card img {
        width: 110px;
        padding-top: 25px;
        margin-bottom: 25px;
        height: 100px;
    }

.carousel-card .card-body p {
    font-size: 20px;
    color: #673AB7;
    font-weight: 500;
}
.image-wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    background: rgba(57, 57, 57, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.overlay-2 {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    inset: 0;
}

.cate {
    color: #673AB7;
}

.main-banner {
    margin-top: 200px;
    margin-bottom: -130px;
}

.search-input {
    outline: none;
    border: none;
    width: 700px;
    height: 50px;
}

.search-btn {
    border: none;
    width: 130px;
    height: 52px;
    background-color: #673AB7;
    color: #fff;
    /* border-bottom-right-radius: 5px; */
}
.search-box{
    /* border: 2px solid #673AB7 !important; */
 /* border-bottom-right-radius: 5px; */
 /* border-top-right-radius: 5px; */
 /* padding-left: 20px; */
 /* margin-bottom: 20px; */
 
}
.search-select{
padding-top: 1px;
padding-left: 30px;
}
.search-select:hover{
background-color: #d1cfcf;
cursor: pointer;

}
.search-select-box{
background-color: #ffffff;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
/* position: relative; */
/* z-index: 1; */
border-radius: 10px;
    }
.input-box {
    /* border: 2px solid #673AB7; */
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 20px;
}

.our-section {
    margin-top: 50px;
}

.list-inline-item a {
    font-size: 30px;
}

.list-unstyled a {
    color: #ffffff;
    line-height: 27px;
    
}
.list-unstyled a:hover{
    font-size: 17px;
    
}

a.navbar-brand.logo {

    padding-left: 4.5rem !important;
}

.ltr{
direction: ltr;
}
.rtl{
    direction: rtl;
}
.Categoryies-btn {
    background-color: #673AB7;
    width: 200px;
    margin: auto;
    font-size: 20px;
    color: #fff;
}

.Categoryies-btn:hover {
    color: #fff;
}

.name-para {
    margin-right: 80px;
}

.profile-btn {
    background-color: #673AB7;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}

.profile-btn:hover {
    color: #fff;
}

.name {
    margin-left: 20px;
}

.profile-card-body {
    margin-left: 20px;
}

.profile-card {
    border-radius: 20px;
    border: 1px solid #673AB7;
    height: 189px;
    padding-left:66px;
    padding-top: 35px;
}

nav {
    background-color: #673AB7 !important;
    position: sticky !important;
    width: 100%;
    top: 0;
    z-index: 1;
}

.job-post-btn {
    background-color: #fff;
    border-radius: 20px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    color: #673AB7;
    font-weight: 500;
    margin-left: 20px;
}

.job-post-btn:hover {
    background-color: #fff;
}

.navbar-nav .nav-item {
    margin-right: 25px;
}

.profile-img {
    width: 50px;
    border-radius: 50%;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.toogler-img {
    width: 35px;
}

.navbar-toggler {
    border: 1px solid #fff;
}

.login-form {
    background-color: #D9D9D9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.details {
    background-color: #673AB7;
    height: 100%;
    text-align: center;
    margin: auto;
    padding-top: 250px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

form {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;

}
.col-lg-9.category-list {
   
    margin-left: 52px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
   
    background-color: #ffffff;
    left: 93px;
    
   
    border-radius: 9px;
    border: 1px solid rgb(253, 252, 252);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}
.category-item:hover{
    /* background-color: #673AB7; */
    /* color: #ffffff; */
    font-size: 17px;
}
/* .container.pt-5.profile {
    max-width: 1060px;
} */
.name-input input {
    width: 100%;
    border-radius: 10px;
    outline: none;
    height: 50px;
    background-color: #fff;
    padding-left: 10px;
    border: none;
    font-size: 15px;
}

.password-input input {
    width: 100%;
    border-radius: 10px;
    outline: none;
    height: 50px;
    background-color: #fff;
    padding-left: 10px;
    border: none;
}

form h2 {
    color: #673AB7;
    font-weight: 700;
    margin-top: 10px;
   
}

.social-media-links a {
    margin-right: 20px;
    
}

.login-btn {
    background-color: #673AB7;
    color: #fff;
    width: 300px;
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 50px;
}

.login-btn:hover {
    background-color: #673AB7;
    color: #fff;
}
.name-input label {
    margin-top: 15px;
}

.password-input label {
    margin-top: 14px;
}

.name-input {
    background-color: #fff;
    border-radius: 10px;
    padding-left: 15px;
    height: 50px;
}

.password-input {
    background-color: #fff;
    border-radius: 10px;
    padding-left: 15px;
}

.password-details {
    background-color: #673AB7;
    height: 100%;
    text-align: center;
    margin: auto;
    padding-top: 150px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.login-details {
    background-color: #673AB7;
    height: 100%;
    text-align: center;
    margin: auto;
    padding-top: 135px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* @media (max-width: 1200px) and (min-width: 767px) {
    .mobile-screen {
        display: none !important;
    }
} */
.form {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
}

.form input {
    outline: none;
    border: none;
    padding-left: 20px;
}

.comment {
    right: auto !important;
}

.profile-card img {
    width: 130px;
    height: 130px;
}

.post-btn {
    background-color: #673AB7;
    color: #fff;
    width: 200px;
    margin-top: 30px;
}

.post-btn:hover {
    background-color: #673AB7;
    color: #fff;
}

element.style {
    justify-content: center;
    padding-top: 30px;
}
ul.pagination {
    padding-top: 30px;
}
.workers {
    position: relative;
    top: 51px;
}
.submit-btn {
    background-color: #673AB7;
    color: #fff;
    margin-top: 30px;
}

.submit-btn:hover {
    background-color: #673AB7;
    color: #fff;
}

.slick-next:before, .slick-prev:before {
    font-size: 30px !important;
    color: #673AB7 !important;
}

.contact-page {
    margin-top: 150px;
}
.pt10{padding-top: 10px;}
p.contact {
    color: white;
    
}

.carousel-card.text-center:hover {
    background-color: #eeeeee !important;
}


  
p.contact:hover {
  font-size: 16px;

}
.col-lg-4.profile-text.pt-5 {
    background-color: #673AB7;
    border-radius: 0 5px 5px 0;
}
a.policy {
    color: #ffffff;
}
a.policy:hover{
    font-size: 17px;
}
.slick-next {
    right: -10px !important; 
}
.slick-next, .slick-prev {
    top: 40% !important;
}
.container.footer.mt-5 {
    background-color:#673AB7 ;
}
.category-tabs a{
    margin-left: 10px;
}
a.btn.plum.tab-btn2.mr-5.active {
    margin-left: 31px;
}
a.btn.plum.tab-btn2.mr-5{
    margin-left: 28px;
    width: 97% !important;

}
a.contact:hover {
    color: #ffffff;
}

@media (max-width:600px){

    .col-md-6.banner{
        position: absolute;
        left: 10px;
    }
    .col-md-4.banner1{
        position: absolute;
        left: 208px;
        top: 54px;
    }
    .col-lg-9.category-list{
        margin-left: auto;
        display: block;
        position: absolute;
        left: 65px;
    }

    
}
@media ( min-width: 576px) and ( max-width: 575px){
    .col-lg-9.category-list{
        margin-left: -50;
        display: block;  position: absolute;
        left: 65px;
    }

}
@media (max-width: 1200px) and (min-width: 767px){
    .col-lg-9.category-list{
        margin-left: auto;
        display: block;
    }
}
.widthauto{width: auto !important;}

.rtl {
    margin-left: -20px;
    border-radius: 4px 0px 0px 4px;
}

/* :required {
    background: red;
  } */
  /* input:required {
    box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
  } */
  
  /**
   * style input elements that have a required
   * attribute and a focus state
   */
input:required:focus {
    border: 1px solid red;
    outline: none;
  }
 textarea:required:focus {
    border: 1px solid red;
    outline: none;
  }
  
  select#signup-sector:required:focus {
    border: 1px solid red;
    outline: none;
  }
  
  /**
   * style input elements that have a required
   * attribute and a hover state
   */
  input:required:hover {
    opacity: 1;
  }


.autocomplete-container {
    position: relative;
  }
  
  /* Style the autocomplete dropdown */
  .auto-address {
    /* Position the dropdown */
    position: absolute;
    top: 70%; /* Place it below the input */
    left: 0;
    right: 0;
  
    /* Add some padding and background color */
    padding: 8px;
    /* background-color: #ffffff; */
    
    /* Add box shadow for a nice visual effect */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  
    /* Set z-index to display it above other elements */
    z-index: 9999;
  }